@page
@model MaktabNews.RazorPages.Areas.Identity.Pages.Account.LoginModel
@{
}

<div class="sign widget ">
    <div class="section-title">
        <h5>ورود به حساب</h5>
    </div>
    <form  class="sign-form widget-form " method="post">
        <div class="form-group">
            <input asp-for="LoginDto.Email" type="text" class="form-control" placeholder="نام کاربری *" >
        </div>
        <div class="form-group">
            <input asp-for="LoginDto.Password" type="password" class="form-control" placeholder="رمز عبور *">
        </div>
        <div class="sign-controls form-group">

            <a href="#" class="btn-link  ml-auto">رمز عبور خود را فراموش کرده اید؟</a>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-custom">ورود به حساب</button>
        </div>
                    
        <p class="form-group text-center">حساب کاربری ندارید؟ <a href="register.html" class="btn-link">ثبت نام کنید</a> </p>
                    
    </form>
</div>