@page
@model MaktabNews.RazorPages.Areas.Identity.Pages.Account.RegisterModel

<div class="sign widget">
    <div class="section-title">
        <h5>ثبت نام</h5>
    </div>
                
    <form class="sign-form widget-form contact_form " method="post">

        <div class="form-group">
                    
            <input type="email" asp-for="RegisterViewModel.Email" class="form-control" placeholder="آدرس ایمیل *" >
        </div>
        <div class="form-group">
                    
            <input type="password" asp-for="RegisterViewModel.Password" class="form-control" placeholder="رمز عبور *" >
        </div>


        <div class="sign-controls form-group">
            <div class="custom-control custom-checkbox">
                <input id="IsReporter" asp-for="RegisterViewModel.IsReporter" type="checkbox" class="custom-control-input">
                <label class="custom-control-label" for="IsReporter"> خبرنگار </label>
            </div>
        </div>
        
        <div class="sign-controls form-group">
            <div class="custom-control custom-checkbox">
                <input id="IsVisitor" asp-for="RegisterViewModel.IsVisitor" type="checkbox" class="custom-control-input">
                <label class="custom-control-label" for="IsVisitor"> بیننده خبر </label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-custom">ثبت نام</button>
        </div>
        

        <p class="form-group text-center">حساب کاربری دارید؟ <a href="login.html" class="btn-link">وارد شوید</a> </p>
    </form>
</div>