@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "";
}


<!doctype html>
<html lang="fa">


<!-- Mirrored from rtlpr.ir/RTL/noonpost/html/template/page404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Feb 2024 18:54:53 GMT -->
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" sizes="16x16" href="assets/img/favicon.png">

    <!-- Title -->
    <title>نانپوست - وبلاگ (مجله) شخصی</title>

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="./assets/css/all.css">
    <link rel="stylesheet" href="./assets/css/elegant-font-icons.css">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/owl.carousel.css">

    <!-- main style -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/custom.css">
</head>

<body class="rtl">

    <!--Page404-->
    <section class="section pt-55 mb-50">
        <div class="container-fluid">
            <div class="page404  widget">
                <div class="image">
                    <img src="assets/img/404.html" alt="">
                </div>
                <div class="content">
                    <h1>510</h1>
                    <h3>خطایی اتفاق افتاده است</h3>
                    <p>لطفا دقایقی دیگر تلاش کنید</p>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./assets/js/jquery-3.5.0.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>

    <!-- JS Plugins  -->
    <script src="./assets/js/ajax-contact.js"></script>
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/switch.js"></script>

    <!-- JS main  -->
    <script src="./assets/js/main.js"></script>
</body>


<!-- Mirrored from rtlpr.ir/RTL/noonpost/html/template/page404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Feb 2024 18:54:53 GMT -->
</html>